



hr {
    height: 40px;
    background-color: darken(#800000, 10%);
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    padding: 1em;
    background-color: lighten(grey, 10%);
    margin: 0;
}
.image_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 5em;

    .image_box {
        // flex: 0 0 33.33%; 
        margin-bottom: 20px;
    }
    
    figcaption {
        padding: 10px 0;
        background-color: whitesmoke;
        width: 100%;
        height: 10%;
        max-height: 2em;
    }
    
    img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 4px;
    }
    
}




@media screen and (min-width: 999px) {
    .image_box {
        flex: 0 0 25%;
    }
}
@media screen and (max-width: 998px) {
    .image_box {
        flex: 0 0 33.33%;
    }
}
@media screen and (max-width: 600px) {
    .image_box {
        flex: 0 0 90%;
    }
}