footer {
    // position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2em;
    background-color: #38a6a6;
    color: #222b2f;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3em;
    

    #time {
        display: contents;
    }

    #time::before {
        content: " ";
        display: inline-block;
        width: 1em;
        height: 1em;
        --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1536 1536'%3E%3Cpath fill='%23000' d='M896 416v448q0 14-9 23t-23 9H544q-14 0-23-9t-9-23v-64q0-14 9-23t23-9h224V416q0-14 9-23t23-9h64q14 0 23 9t9 23m416 352q0-148-73-273t-198-198t-273-73t-273 73t-198 198t-73 273t73 273t198 198t273 73t273-73t198-198t73-273m224 0q0 209-103 385.5T1153.5 1433T768 1536t-385.5-103T103 1153.5T0 768t103-385.5T382.5 103T768 0t385.5 103T1433 382.5T1536 768'/%3E%3C/svg%3E");
        background-color: currentColor;
        mask-image: var(--svg);
        mask-repeat: no-repeat;
        mask-size: 100% 100%;
    }

    #change_color {
        color: rgb(221, 228, 27);
    }
}